.form {
    display: flex;
    flex-direction: column;
    width: 31%;
    text-align: center;
}

.card-div {
    border: 1px solid red;
    height: 500px;
    display: flex;
    gap: 5px;
}

.card {
    border: 2px dashed blue;
    width: 500px
}

.book-info {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}